.main-title {
  color: rgb(66, 19, 109);
  text-align: center;
  font-size: 5em;
}
.container {
  height: 100vh;
  width: 100%;
  background-color: rgb(242, 242, 233);
}
.subtitle {
  font-size: 2em;
  color: rgb(195, 43, 226);
}
